
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Fort awesome
//@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.purple{
    color: $purple;
}

.brown{
    color: $brown;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
